.titles{
    font-size: 25px;
    text-align: left;
}
.contents{
    font-size: 20px;
}
.item img {
    height: 500px !important;
    width: 500px !important;
    margin: auto;
}
#comment, #modal-comment{
    border: solid 1px;
    border-radius: 10px;
    padding-left: 10px;
}
#comment-link{
    color: #777777;
    text-decoration: underline;
}
textarea{
    resize: none;
}
